.navbar-inverse {
  color: white;
  display: block;
  padding-left: 15%;
  padding-right: 15%;
  background-color: #39474e;
  border: none;
  height: 100px;
}

.header {
  padding-top: 20px;
}
.hero {
  margin-top: 0;
  clear: both;
  background-image: url(../images/TIYhomepage.jpg);
  height: 600px;
  background-size: cover;
  padding-top: 250px;
}

.hero-text {
  font-size: 48px;
  color: white;
  font-family: PT serif;
  padding-left: 15%;
}

.icon {
  clear: both;
  background-color: #eeeeee;
  height: 115px;
  padding-left: 15%;
  padding-right: 15%;
}

.body {
  margin: 5%;
}

.bodytext {
  color: #727d84;
  font-size: 16px;
  line-height: 1.6;
  padding: 2%;
}

.form1 {
  background-color: #ebebeb;
  border-radius: 25px;
  border-style: hidden;
  padding: 5%;
}
label {
  float: left;
  text-align: left;
  padding: 5%;
}
.btn .btn-default {
  color: red;
}

.discover {
  height: 450px;
  text-align: center;
  background-color: #eeeeee;
  color: #838f95;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 20%;
  padding-right: 20%;
  font-size: 20px;
}


.col-sm-3 {
  padding: 5%;
  line-height: 1px;
}
